<%= month_calendar events: @planning_days, table: { class: "table table-bordered" } do |date, planning_day| %>
  <%= date.day %>
  <% planning_day.orders.each do |order| %>
    <div>
      <%= "#{order.code} due" %>
    </div>
  <% end %>
<% end %>
