<tr>
  <td class="serial"><%= scrap_film_movement.serial %></td>
  <td class="whodunnit"><%= scrap_film_movement.actor %></td>
  <td class="created_at"><%= scrap_film_movement.datetime_display %></td>
</tr>
