<%= paginate @fg_film_movements %>
<table class="fg-film-movements-history table table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th>From</th>
      <th>User</th>
      <th>Customer</th>
      <th>SO#</th>
      <th>Custom W</th>
      <th>Custom L</th>
      <th>Custom Area</th>
      <th>Util</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "fg_film_movement", collection: @fg_film_movements %>
  </tbody>
</table>
