<%= paginate @film_movements %>
<table class="film-movements-history table table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th>From</th>
      <th>To</th>
      <th>User</th>
      <th>Area</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "film_movement", collection: @film_movements %>
  </tbody>
</table>
