<%= paginate @master_films %>
<table class="master-films-history table table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Formula</th>
      <th>Mix/g</th>
      <th>Mach</th>
      <th>ITO</th>
      <th>Thinky</th>
      <th>Chemist</th>
      <th>Operator</th>
      <th>Eff W</th>
      <th>Eff L</th>
      <th>Eff Area</th>
      <th>Defects</th>
      <th>Updated</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "master_film", collection: @master_films %>
  </tbody>
</table>
