<%= paginate @reserved_checkouts %>
<table class="reserved-checkouts-history table table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th>From</th>
      <th>To</th>
      <th>User</th>
      <th>Customer</th>
      <th>SO#</th>
      <th>Custom W</th>
      <th>Custom L</th>
      <th>Custom Area</th>
      <th>Util</th>
      <th>Reserved</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "reserved_checkout", collection: @reserved_checkouts %>
  </tbody>
</table>
