<li class="calendar-item list-group-item list-group-item-warning" data-toggle="popover" data-content="<%= "<dl class='dl-horizontal'><dt>JO#</dt><dd>#{job_date.serial}</dd><dt>Released</dt><dd>#{job_date.job_order.date_of("released", "planned")} <span class='badge'>#{job_date.quantity}</span></dd><dt>Due</dt><dd>#{job_date.job_order.date_of("due", "planned")}</dd></dl>" %>" data-trigger="hover" data-html="true">
  <div class="clearfix">
    <strong class="pull-left"><%= job_date.part_number %></strong>
  </div>
  <div class="clearfix">
    <span class="pull-left"><%= job_date.run_number %></span>
    <%= step_icon(job_date.display_step) %>
  </div>
</li>
