<%= render layout: 'shared/collapse_search_form', locals: { tab_param: :function, text_field: :text_search, show: true } do %>
  <div class="form-group">
    <%= label_tag :part_number, "Part #", class: "control-label" %>
    <div class="col-md-12">
      <%= text_field_tag :part_number_like, params[:part_number_like], class: "form-control" %>
    </div>
  </div>
<% end %>
