<fieldset class="form-group defect-fields">
  <div class="col-md-5 col-md-offset-2">
    <%= select_tag key, options_for_select(MasterFilm::DEFECT_TYPES, key), required: true, prompt: "Select defect...", class: "dynamic-attr-key form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.number_field key, value: value, required: true, placeholder: "Count", class: "dynamic-attr-value form-control", default: true %>
  </div>
  <%= link_to '#', class: "remove-hstore-fields" do %>
    <i class="fa fa-minus"></i>remove
  <% end %>
</fieldset>
