<%= render layout: 'shared/collapse_search_form', locals: { tab_param: :function, text_field: :text_search, show: any_searches? } do %>
  <div class="form-group">
    <%= label_tag "Date range", nil, class: "control-label" %><br/>
    <div class="col-md-6">
      <%= text_field_tag :serial_date_after, params[:serial_date_after], placeholder: "Start Date", class: "form-control bootstrap-datepicker" %>
    </div>
    <div class="col-md-6">
      <%= text_field_tag :serial_date_before, params[:serial_date_before], placeholder: "End Date", class: "form-control bootstrap-datepicker" %>
    </div>
  </div>
<% end %>
