<div class="form-group">
  <%= label_tag label, nil, class: "control-label col-md-2" %>
  <div class="col-md-4">
    <%= f.number_field width, placeholder: "Width", step: "any", class: "form-control", default: true %>
  </div>
  <div class="col-md-4">
    <%= f.number_field length, placeholder: "Length", step: "any", class: "form-control", default: true %>
  </div>
</div>
