<tr>
  <td><%= production[:display_date] %></td>
  <td><%= production[:relation].count %></td>
  <td><%= format_area(production[:relation].total_effective_area) %></td>
  <td><%= format_yield(production[:relation].avg_yield) %></td>
</tr>
