<%= link_to "Export", film_movements_path(params.merge(format: "csv")), id: "fg-movements-export", class: "btn btn-default" %>

<%= paginate @film_movements %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Movement</th>
      <th>Dimensions</th>
      <th>Order</th>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "film_movement", collection: @film_movements %>
  </tbody>
</table>
