<script>
  $(function () { 
    $('#fg-utilization').highcharts({
      chart: {
        zoomType: 'x',
        type: 'scatter'
      },
      title: {
        text: 'FG utilization'
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function() {
            return Highcharts.dateFormat('%m/%d/%y', this.value);
          }
        }
      },

      yAxis: [{
        title: {
          text: 'Utilization'
        },
        labels: {
          formatter: function() {
            return this.value + '%';
          }
        },
        min: 0,
        max: 120
      }],

      series: [{
        color: 'rgba(119, 152, 191, .6)',
        data: [
          <% @data.each do |r| %>
            <% if r[:datetime] && r[:utilization] && r[:serial] %>
              { x: <%= r[:datetime] %>, y: <%= r[:utilization] %>, serial: "<%= r[:serial] %>" },
            <% end %>
          <% end %>
          ]
      }],

      plotOptions: {
        series: {
          turboThreshold: 0,
          marker: {
            radius: 3
          }
        }
      },

      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.serial +'</b><br/>'+
          Highcharts.dateFormat('%m/%d/%y', this.x) +'<br/>'+ 
          this.y +'%';
        }
      },

      legend: [{
        enabled: false
      }]
    });
  });
</script>

<div id="fg-utilization" class="chart"></div>

