<script>
  $(function () { 
    $('#master-film-yield').highcharts({
      chart: {
        zoomType: 'x',
        type: 'scatter'
      },
      title: {
        text: 'Master film yield'
      },

      xAxis: {
        title: {
          text: "Lamination date (based on serial)"
        },
        type: 'datetime',
        labels: {
          formatter: function() {
            return Highcharts.dateFormat('%m/%d/%y', this.value);
          }
        }
      },

      yAxis: [{
        title: {
          text: 'Yield'
        },
        labels: {
          formatter: function() {
            return this.value + '%';
          }
        },
        min: 0,
        max: 120
      }],

      series: [
        <% @data.each do |formula| %>
          <% if formula[0].present? %>
            {
            name: "<%= formula[0] %>",
            data: [
              <% formula[1].each do |r| %>
                { x: <%= r.laminated_at.to_time.to_i*1000 %>, y: <%= r.yield*100 %> },
              <% end %>
            ]},
          <% end %>
        <% end %>
      ],

      plotOptions: {
        series: {
          turboThreshold: 0,
          marker: {
            radius: 3
          }
        }
      },

      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b><br/>'+
          Highcharts.dateFormat('%m/%d/%y', this.x) +'<br/>'+ 
          this.y +'%';
        }
      }
    });
  });
</script>

<div id="master-film-yield" class="chart"></div>

