<script>
  $(function () { 
    $('#stock-film-type-totals').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: 'Available film by ITO'
      },
      xAxis: {
        categories: <%= raw(@data.map{ |i| i[:ito] }) %>
      },
      yAxis: [{
        title: {
          text: 'Count'
        }
      }, {
        title: {
          text: 'Area'
        }
      }],
      plotOptions: {
        series: {
          groupPadding: 0.25
        }
      },
      series: [{
        yAxis: 0,
        name: 'Count',
        data: <%= raw(@data.map{ |i| i[:count] }) %>,
        pointPlacement: 0.2
        }, {
        yAxis: 1,
        name: 'Area',
        data: <%= raw(@data.map{ |i| i[:area] }) %>,
        pointPlacement: -0.2
      }]
    });
  });
</script>

<div id="stock-film-type-totals" class="chart"></div>
