<script>
  $(function () {
    $('#stock-snapshots').highcharts({
      chart: {
        type: 'area',
        zoomType: 'x'
      },
      title: {
        text: 'Stock snapshots'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: [
        {
          min: 0,
          title: {
            text: 'SQFT'
          }
        },
        { 
          title: {
            text: 'Count'
          },
          min: 0
        }
      ],
      plotOptions: {
        area: {
          stacking: 'normal',
          lineWidth: 1,
          marker: {
            enabled: false
          },
          shadow: false,
          states: {
            hover: {
              lineWidth: 1
            }
          },
          threshold: null,
          fillOpacity: 0.5
        }
      },
      tooltip: {
        shared: true
      },
      series: [
        {
          yAxis: 0,
          name: 'Reserved',
          data: [
          <% @reserved_stock_data.each do |point| %>
            [<%= point[:created_at].to_i*1000 %>, <%= point[:total_area].to_i %>],
          <% end %>
          ]
        },
        {
          yAxis: 0,
          name: 'Available',
          data: [
          <% @stock_data.each do |point| %>
            [<%= point[:created_at].to_i*1000 %>, <%= point[:total_area].to_i %>],
          <% end %>
          ]
        }
      ]
    });
  });
</script>
<div id="stock-snapshots" class="chart"></div>
