<script>
  $(function () { 
    $('#stock-dimensions').highcharts({
      chart: {
        type: 'bubble',
        zoomType: 'xy'
      },
      title: {
        text: 'Available dimensions map'
      },
      xAxis: {
        title: {
          text: 'Length'
        },
        min: 0
      },
      yAxis: [{
        title: {
          text: 'Width'
        },
        min: 0
      }],
      series: [
        <% @data.each do |k, v| %>
          {
          name: "<%= k || 'None' %>",
          data: [
            <% v.each do |point| %>
              [<%= point[1] %>, <%= point[2] %>, <%= point[3] %>],
            <% end %>
          ]},
        <% end %>
      ],
      plotOptions: {
        bubble: {
          minSize: 6,
          maxSize: '12%',
        }
      },
      tooltip: {
        formatter: function() {
          return 'count: ' + this.point.z + '<br/>' +
          'width: ' + this.point.y + '<br/>' +
          'length: ' + this.point.x + '<br/>' +
          'formula: ' + this.series.name
        }
      },
    });
  });
</script>

<div id="stock-dimensions" class="chart"></div>
