<script>
  $(function () { 
    $('#stock-formula-totals').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: 'Available film by formula'
      },
      xAxis: {
        categories: <%= raw(@chart.values) %>
      },

      yAxis: [{
        title: {
          text: 'Count'
        }
      }, {
        title: {
          text: 'Area'
        }
      }],

      plotOptions: {
        series: {
          groupPadding: 0.25
        }
      },

      series: [{
        yAxis: 0,
        name: 'Count',
        data: <%= raw(@chart.counts) %>,
        pointPlacement: 0.2
        }, {
        yAxis: 1,
        name: 'Area',
        data: <%= raw(@chart.areas) %>,
        pointPlacement: -0.2
      }]
    });
  });
</script>

<div id="stock-formula-totals" class="chart"></div>
