<%= f.input :shelf %>
<div class="inline-fields">
  <%= f.input :width, label: "Dimensions", placeholder: "Width", error: false, input_html: { class: "input-sm" } %> x
  <%= f.input :length, label: false, placeholder: "Length", error: false, input_html: { class: "input-sm" } %>
</div>
