<fieldset id= "checkout-destination-fields" class="destination-fields">
  <%= f.input :customer %>
  <%= f.input :sales_order_code %>
  <div class="inline-fields">
    <%= f.input :custom_width, label: "Custom", placeholder: "Width", error: false, input_html: { class: "input-sm" } %> x
    <%= f.input :custom_length, label: false, placeholder: "Length", error: false, input_html: { class: "input-sm" } %>
  </div>
</fieldset>
