<div class="form-group">
  <%= f.label :width, "Dimensions", class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.number_field :width, placeholder: "Width", step: "any", class: "form-control", default: true %>
  </div>
  <div class="col-md-4">
    <%= f.number_field :length, placeholder: "Length", step: "any", class: "form-control", default: true %>
  </div>
</div>
