<div class="form-group">
  <%= f.label :effective_width, "Effective", class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.number_field :effective_width, placeholder: "Width", step: "any", class: "form-control", default: true %>
  </div>
  <div class="col-md-4">
    <%= f.number_field :effective_length, placeholder: "Length", step: "any", class: "form-control", default: true %>
  </div>
</div>
