<div class="inline-fields">
  <%= f.input :inspection_width, label: "Inspection", placeholder: "Width", input_html: { class: "input-small" } %> x
  <%= f.input :inspection_length, label: false, placeholder: "Length", input_html: { class: "input-small" } %>
</div>
