<td class="effective_width"><%= film.effective_width %></td>
<td class="effective_length"><%= film.effective_length %></td>
<td><%= number_with_precision(film.effective_area, precision: 2) %></td>
<td class="defect_count"><%= film.defect_count %></td>
