<tr id="<%= "film-#{film.id}" %>" class="alert alert-info">
  <td></td>
  <td></td>
  <td colspan="100%">
    <%= "#{film.serial} #{content_tag(:span, nil, class: 'glyphicon glyphicon-arrow-right')} #{content_tag(:strong, destination)}".html_safe %>
  </td>
</tr>
