$grid-gutter-width: 16px;

body {
  min-height: 600px;
}

.pagination.pagination-sm {
  margin: 0;
}

.chart {
  height: 800px;
}

td.select-box {
  width: 22px;
}

td.actions {
  width: 44px;
}

td.serial {
  min-width: 90px;
}

td.note {
  max-width: 200px; // keeps from overflowing right
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.nowrap {
  white-space: nowrap;
}

.table tbody tr.info td {
  background-color: #d9edf7;
  border-color: #c3dbe7;
}

.table-hover tbody tr.info:hover td {
  background-color: #c4e3f3;
  border-color: #b1d0e0;
}

.sidebar {
  position: absolute;
  width: 160px;
}

.main, .page-head {
  margin-left: 180px;
  padding-right: 10px;
}

.ul, ol {
  padding: 0;
}

.panel-group {
  margin-top: 5px;
}

.search-form {
  margin-bottom: 10px;
}

.jumbotron.login {
  position: absolute;
  width: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.destination-fields {
  display: none;
}

.modal .panel {
  margin-bottom: 0;
}

.modal-footer {
  .form-group {
    width: 300px;
    float: left;
  }

  .checkbox {
    text-align: left
  }
}

.datepicker {z-index: 1151 !important;}

.label a {
  color: #dddddd
}

.progress {
  margin-bottom: 10px !important;

  .progress-bar {
    opacity: 0.6;
  }

  span {
    z-index: 100;
    position: absolute;
  }
}

.summary dl {
  margin-bottom: 0px;
}

.page-head .nav-tabs {
  margin-bottom: 15px;
}

.calendar-header {
  text-align: center;

  h2 { display: inline-block; }
}

.calendar-table {

  td {
    min-height: 100px;

    .calendar-item, .panel-heading, .panel-footer {
      padding: 3px 10px;
    }
  }

  dl {
    margin-bottom: 0;

    dt { width: 80px; }
    dd { margin-left: 100px; }
  }
}

.non-month {
  opacity: 0.5;
}
