<%= modal_form_for user do |f| %>
  <div class="modal-header">
    <h4 class="modal-title text-center">New user</h4>
  </div>
  <div class="modal-body">
    <%= f.text_field :full_name %>
    <%= render 'shared_fields', f: f %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Create user", class: "btn btn-success" %>
  </div>
<% end %>
