<script>
  $(function () {
    $('#shipped_area_time_series').highcharts({
      chart: {
        type: 'column'
      },

      title: {
        text: false
      },

      xAxis: {
        type: 'datetime'
      },

      yAxis: {
        min: 0,
        title: {
          text: 'Area'
        }
      },

      tooltip: {
        shared: true
      },

      plotOptions: {
        column: {
          pointPadding: 0,
          groupPadding: 0,
          stacking: 'normal'
        }
      },

      series: [{
        name: 'Film',
        data: <%= raw @time_series.film_data %>
        }, {
        name: 'Glass',
        data: <%= raw @time_series.glass_data %>
        }, {
        type: 'pie',
        name: 'Total consumption',
        data: [{
          name: 'Film',
          y: 13,
          }, {
          name: 'Glass',
          y: 23,
        }],
        center: [100, 80],
        size: 100,
        showInLegend: false,
        dataLabels: {
          enabled: false
        }
      }]
    }]
  });
});
</script>

<div id="shipped_area_time_series" class="chart"></div>
