<script>
  $(function () {
    $('#utilization_time_series').highcharts({
      chart: {
        type: 'spline'
      },
      title: {
        text: false
      },
      xAxis: {
        type: 'datetime',
        title: {
          text: 'Start Date'
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: '% Utilization'
        },
        plotLines: [{
          color: 'red',
          value: <%= @time_series.overall_average %>,
          width: 2,
          label: {
            align: 'right',
            text: "<%= @time_series.overall_average %>"
          }
        }]
      },
      series: [{
        name: 'Utilization',
        data: <%= raw @time_series.data %>
      }]
    });
  });
</script>
<div id="utilization_time_series" class="chart"></div>
