<li id="<%= "film-#{film.id}-label" %>" class="<%= "label #{phase_label_class(film)}" %>" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="<%= "<dl class='dl-horizontal'><dt>width:</dt><dd>#{film.width}</dd><dt>length:</dt><dd>#{film.length}</dd><dt>phase:</dt><dd>#{film.phase}</dd><dt>shelf:</dt><dd>#{film.shelf}</dd></dl>" %>">
  <%= film.serial %>
</li>
