<li id="<%= "film-#{film.id}-label" %>" class="<%= "label #{film.phase_label_class}" %>">
  <%= film.serial %>
  <%= link_to("X", unassign_film_path(film), { remote: true, method: :patch, id: "film-#{film.id}-unassign"}) %>
</li>
