<script>
  $(function () {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('#weekly-shipped-product-type').highcharts().setSize($('#weekly-shipped-product-type').width(),$('#weekly-shipped-product-type').height());
    });

    $('#weekly-shipped-product-type').highcharts({
      chart: {
        type: 'column',
        height: 600
      },

      title: {
        text: false
      },

      xAxis: {
        type: 'datetime'
      },

      yAxis: {
        min: 0,
        title: {
          text: 'Area'
        }
      },

      tooltip: {
        shared: true
      },

      plotOptions: {
        column: {
          pointPadding: 0,
          groupPadding: 0,
          stacking: 'normal'
        }
      },

      series: [
      {
        name: 'Film',
        data: [
        <% data.area_shipped_by_date.each do |point| %>
          [<%= point[:week_start].to_datetime.to_i*1000 %>, <%= point[:shipped_film_area] %>],
        <% end %>
        ]
        }, {
        name: 'Glass',
        data: [
        <% data.area_shipped_by_date.each do |point| %>
          [<%= point[:week_start].to_datetime.to_i*1000 %>, <%= point[:shipped_glass_area] %>],
        <% end %>
        ]
        }]
    });
  });
</script>

<div id="weekly-shipped-product-type" class="chart"></div>
