<%= modal_form_for @sales_order, url: update_ship_date_sales_order_path do |f| %>
  <div class="modal-header">
    <h4 class="modal-title text-center"><%= @sales_order.code %></h4>
  </div>
  <div class="modal-body">
    <%= render "shared/date_field", f: f, name: :ship_date, value: Time.zone.today, label: "Shipped" %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
