<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <span class="brand">PCMS</span>
    <ul class="nav">
      <li><%= link_to "Inventory", films_path(scope: "lamination") %></li>
      <li><%= link_to "History", film_movements_history_path %></li>
      <li><%= link_to "Charts", stock_formulas_chart_path %></li>
      <li><%= link_to "Admin", imports_path %></li>
    </ul>
  </div>
</div>
